body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-simple-style-western-restaurant-menu-poster-background-picture-image_1126630.jpg");
}

.login {
    background-color: #dbccd6;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    padding: 30px 60px;
    border: 5px solid black;
    box-shadow: 6px 5px #b89898;
    transition: 0.2s all;
    cursor: pointer;
    margin-top: 10px;

}

.signup {
    background-color: #d8bdcc;
    font-weight: bold;
    border-radius: 4px;
    font-size: 30px;
    padding: 30px 20px;
    border: 5px solid black;
    box-shadow: 6px 5px #c59cb1;
    transition: 0.2s all;
    cursor: pointer;
    margin-top: 10px;
    
}

.menu{
    background-color: #d6b5c9;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    padding: 30px 55px;
    border: 5px solid black;
    box-shadow: 6px 5px #e0c6d6;
    transition: 0.2s all;
    cursor: pointer;
    margin-top: 10px;
}